.dashboard-container {
    background: linear-gradient(0deg, rgba(72, 182, 158, 0.979), rgba(31, 170, 170, 0.959)), url('../../public/images/mural-wallpaper.jpeg');
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.heading-admin-container {
    width: 100vw;
    height: 5vh;
    padding-top: 14vh;
    color: rgb(255 153 102);
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.dash-title-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    align-items: baseline;
    height: fit-content;
    font-size: 26px;
    background-color: rgba(18, 150, 150, 0.651);
    color: rgb(255 153 102);
}
.create-btn {
        border-radius: 50%;
        height: 40px;
        width: 40px;
        padding: 5px;
        margin: 15px;
        color: orange;
        font-weight: bold;
        font-size: 30px;
        border-style: none;
}
.create-btn:hover {
    background-color: hotpink;
}
.drop-down-btn {
    width: 100%;
    border-style: none;
    background-color: rgba(18, 150, 150, 0.651);
    padding-top:10px;
}
.dash-vol-box {
    margin-top: 115px;
    background-color: rgba(0, 0, 0, 0.651);
    height: 30px;
    position: fixed;
    width: 100%;
}
.dash-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 15px;
}
.dash-list-title {
    color: rgb(255 153 102);
}
.dash-btn-container {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}
.dash-btn {
    display: inline-block ;
    padding: 0.2em 1.45em;
    margin:0.1em;
    border:0.15em solid rgba(18, 150, 150, 0.651);
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color:rgb(248, 123, 61);
    background-color: white;
    text-align:center;
}
.dash-btn:hover {
    border-color: hotpink;
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}
.vol-link-container {
    background-color: white;
}
.vol-link-dash {
    text-decoration: none;
    color: rgb(248, 123, 61);
    font-size: 16px;
}
.img-arrow {
    height: 10px;
}