.dashboard-back{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    background-size: cover;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    background: url('../../public/images/admin_back.jpg');
}
.dash-body{
    display:flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: space-evenly;
    width: 100%;
}
.dash-box{
    display: flex;
    flex-direction: column;
    background-color: rgba(246, 240, 250, 0.85);
    margin: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 150px;
    padding-left: 2%;
    padding-right: 2%;
}
.dash-titles{
    font-size: 30px;
    margin:5%;
}
.dash-title-box{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.651);
    color: rgb(255 153 102);
    justify-content: space-between;
    align-items: baseline;
    height: fit-content;
    margin-top: 5%;
}
.dash-title-box-2{
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.651);
    color: rgb(255 153 102);
    justify-content: space-between;
    align-items: baseline;
    height: fit-content;
    margin-top: 5%;
}
.dash-line{
    width: 90%;
}
.dash-vol-box{
    margin-top: 115px;
    background-color: rgba(0, 0, 0, 0.651);
    height: 30px;
    position: fixed;
    width: 100%;
}
.dash-list{
    display: flex;
    align-items: center;
    justify-content: center;

   
}
.button-create{
    display: inline-block ;
    padding: 0.2em 1.45em;
    margin: 25px;
    border:0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Segoe UI','Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    text-align:center;
    align-items: center;
    background-color: #fff;
    font-size: 14px;
    max-width: 100%;
    height: 48px; 
}
.button-create:hover{
    border-color: rgb(61, 248, 70);
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}
.button-create:active{
    background-color:#CCCCCC;
}

.dash-edit-button{
    display: inline-block ;
    padding: 0.2em 1.45em;
    margin:0.1em;
    border:0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Segoe UI','Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    background-color:#CCCCCC;
    text-align:center;
}
.dash-edit-button:hover{
    border-color: rgb(248, 123, 61);
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}
.dash-edit-button:active{
    background-color: white;
}

@media all and (max-width:30em){
    a.button8{
    display:block;
    margin:0.2em auto;
}}

.dash-delete-button{
    display: inline-block ;
    padding: 0.2em 1.45em;
    margin:0.1em;
    border:0.15em solid #CCCCCC;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Segoe UI','Roboto',sans-serif;
    font-weight:400;
    color:#000000;
    background-color:#CCCCCC;
    text-align:center;
}
.dash-delete-button:hover{
    border-color: rgb(248, 61, 61);
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}
.dash-delete-button:active{
    background-color: rgb(248, 61, 61);
}
@media all and (max-width:30em){
    a.button8{
    display:block;
    margin:0.2em auto;
}}

.nav-link-admin {
    text-decoration: none;
    color: rgb(252, 113, 49);
    font-size: 20px;
    margin-left: 10px;
    margin-right: 15px;
    padding-bottom: 20px;
  }

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: sticky;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  margin: 25px;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

