.event-page-container {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.bg-overlay-event {
    width: 100%;
    height: 100%;
    animation: eventbackgroundchange 30s ease infinite;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}
.filter-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
    color: rgb(196, 96, 149);
    background-color: white;
}
.event-filter-input {
    border-top: 0px;
    border-left:0px;
    border-right: 0px;
    border-bottom-style: 1px;
    border-color: rgb(196, 96, 149);
    background-color: white;
}
.event-filter-input::placeholder {
    color: rgb(5, 5, 5);
}
.event-container {
    margin: 3%;
    padding-top: 40px;
    padding-bottom: 100px;
    background-color: white;
    color: rgb(196, 96, 149);
    border-radius: 20px;
    box-shadow: 0 1px 10px rgb(124, 207, 203);
}
.hr {
    width: 120px;
    border: 0.5px solid rgba(170, 123, 172, 0.493);
    border-radius: 50px;
}
.event-link {
    text-decoration: none;
    color: rgb(196, 96, 149);
    font-size: 17px;
    font-weight: 900;
    text-transform: uppercase;
}
.event-title {
    color:rgb(196, 96, 149);
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
}
.glow-on-events {
    width: fit-content;
    height: 25px;
    border: none;
    outline: none;
    color: #fff;
    background: gray;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 7px;
    margin-bottom: 10px;
}
.glow-on-events:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #ff00c8, #ff0000);
    position: absolute;
    top: -3px;
    left:-3px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.glow-on-events:active {
    color: gray
}
.glow-on-events:active:after {
    background: transparent;
}
.glow-on-events:hover:before {
    opacity: 1;
}
.glow-on-events:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: gray;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
@keyframes eventbackgroundchange {
    0% {
      background-image: url('../../public/images/aquarell_pink.png');
    }
    40% {
      background-image: url('../../public/images/aquarell_turquoise.png');
    }
    80% {
      background-image: url('../../public/images/aquarell_turquoise.png');
    }
    100% {
      background-image: url('../../public/images/aquarell_pink.png');
    }
  }