.bg-overlay-event {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(226, 26, 76, 0.918), rgba(226, 26, 119, 0.568)), url('../../public/images/mural-wallpaper.jpeg');
    background-repeat: repeat;
}
.events-view-back {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    background-position: center;
    height: 100%;
}
.filters-box{
    color: rgb(170, 123, 172);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(245, 247, 162, 0.705);
    box-shadow: 0 3px 10px rgb(170, 123, 172);
    padding: 10px;
    position: fixed;
}
.filterEvent-input-box{
    border-top: 0px;
    border-left:0px;
    border-bottom-style: 1px;
    border-right: 0px; 
    border-color: rgb(170, 123, 172);
    background-color: white;
    width: 150px;
    margin-bottom: 8px;
    height: 25px;
}
.events-view-ind-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.hr{
    width: 120px;
    border: 0.5px solid rgba(170, 123, 172, 0.493);
    border-radius: 50px;
}
.event-link {
    text-decoration: none;
    color: gray;
    font-size: 17px;
}
.event-title {
    color:rgb(170, 123, 172);
    font-weight: bolder;
    font-size: 24px;
}
.event-heading {
    color:rgb(170, 123, 172);
    font-weight: bolder;
    font-size: 40px;
}
.events-view-image-box{
    display: flex;
    align-items: center;
}
.filter-title{
    display: flex;
    font-size: 20px;
    background-color: rgba(246, 247, 162, 0.959);
    width: 100%;
    align-items: center;
    justify-content: center;
}
.event-description{
    font-size: 15px;
    color: gray;
}

.glow-on-events {
    width: fit-content;
    height: 25px;
    border: none;
    outline: none;
    color: #fff;
    background: gray;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 7px;
    margin-bottom: 10px;
}
.glow-on-events:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-events:active {
    color: gray
}

.glow-on-events:active:after {
    background: transparent;
}

.glow-on-events:hover:before {
    opacity: 1;
}

.glow-on-events:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: gray;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

