.event-detail-container{
    margin: 0% 10%;
    padding-top: 40px;
    padding-bottom: 100px;
    border-radius: 20px;
    background-color: white;
    /* background-color: rgba(26, 186, 226, 0.397); */
    color: rgba(226, 26, 76, 0.644);
}
