header {
    background-color: bisque;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.fixed-background {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.home-container {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: backgroundchange 60s ease infinite;
}
.home-overlay {
  background-attachment: fixed;
  animation: backgroundoverlay 60s ease infinite;
}
.logo-container {
  margin-top: 12vh;
  position:fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 72vh;
  width: 100vw;
}
.logo {
  height: 20%;
}
/* ANIMATIONS */
@keyframes backgroundoverlay {
  0% {
    background-color: rgba(0, 255, 255, 0.185);
  }
  20% {
    background-color: rgba(137, 43, 226, 0.384);
  }
  40% {
    background-color: rgba(223, 209, 19, 0.336);
  }
  70% {
    background-color: rgba(255, 0, 179, 0.205);
  }
  100% {
    background-color: rgba(0, 255, 255, 0.185);
  }
}
@keyframes backgroundchange {
  0% {
    background-image: url('../../public/images/50613531_1865840476871868_9220936635779121152_o.jpg');
    /* background: linear-gradient(0deg, rgba(97, 150, 37, 0.507), rgba(202, 247, 38, 0.61)); */
  }
  20% {
    background-image: url('../../public/images/50070715_1865840443538538_8312521035148689408_o.jpg');
    /* background: linear-gradient(0deg, rgba(146, 22, 125, 0.507), rgba(160, 16, 16, 0.61)); */
  }
  40% {
    background-image: url('../../public/images/38168685_10156757881729060_2945055295295979520_o.jpg');
    /* background: linear-gradient(0deg, rgba(146, 22, 125, 0.507), rgba(160, 16, 16, 0.61)); */
  }
  70% {
    background-image: url('../../public/images/login_background.jpg');
    /* background: linear-gradient(0deg, rgba(177, 132, 9, 0.507), rgba(180, 86, 10, 0.61)); */
  }
  100% {
    background-image: url('../../public/images/50613531_1865840476871868_9220936635779121152_o.jpg');
    /* background: linear-gradient(0deg, rgba(97, 150, 37, 0.507), rgba(202, 247, 38, 0.61)); */
  }
}
  /*
  60% {
    background: linear-gradient(0deg, rgba(114, 6, 6, 0.507), rgba(78, 21, 7, 0.61));
  }
  80% {
    background: linear-gradient(0deg, rgba(6, 14, 129, 0.507), rgba(22, 19, 170, 0.61));
  }
  100% {
    background: linear-gradient(0deg, rgba(97, 150, 37, 0.507), rgba(202, 247, 38, 0.61));
  }
}*/
.animation-container-open-menu {
  animation-name: myslidedown;
  animation-duration: 2s;
}
@keyframes myslidedown { 
  0% {
    margin-top:0px;
    transform: rotate(359deg);
  }
  50% {
    margin-top:100px;
  }
  100% {
    margin-top: 0px;
  }
}
.animation-container {
  animation: rotation 4s linear infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* mybounce animation lets the logo bounce from side to side */
/* @keyframes mybounce {
  0% {
    margin-left: 0px;
    margin-top: 0px;
  }
  10% {
    margin-left: 92vw;
    margin-top: 20vh;
  }
  20% {
    margin-left: -1vw;
    margin-top: 40vh;
  }
  30% {
    margin-left: 92vw;
    margin-top: 0vh;
  }
  60% {
    margin-left: -1vw;
    margin-top: 50vh;
  }
  80% {
    margin-left: 80vw;
    margin-top: 60vh;
  }
  85% {
    margin-left: -1vw;
    margin-top: 50vh;
  }
  90% {
    margin-left: 92vw;
    margin-top: 50vh;
  }
  100% {
    margin-left: -1vw;
    margin-top: 0%;
  }
} */
.icon {
  width: 3.5vw;
}
.footer {
  height: 10vh;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color:  bisque;
}
.footer-link {
  margin: 5px;
}
.about-container {
  background-color: aqua;
  margin-bottom: 100px;
}  