header {
    background-color: bisque;
    height: 10vh;
    display: flex;
    justify-content: center;
}
.logo {
    width: 30vw;
  }
  .icon {
    width: 5vw;
  }
  .home-btn {
    padding: 10px 30px 10px 30px; 
    background-color: bisque;
    border: none;
    border-radius: 30px 0px 0px 30px;
    text-align: center;
  }
  .home-link {
    text-decoration: none;
    color: orange;
    font-size: 24px;
  }
  .home-container {
    background-image: url('../../public/images/ramschloss.jpg');
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .logo-container {
    margin: 0px 100px 50px 100px;
  }
  .slogan {
    font-size: 16px;
    color: black;
  }
  .home-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
  }
  .footer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:  bisque;
  }
  .footer-link {
    margin: 5px;
  }
  