.heading-projectdetail-container {
    width: 100vw;
    height: 5vh;
    padding-top: 19vh;
    color: rgb(75, 131, 128);
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.project-detail-container {
    padding-top: 10px;
    padding-bottom:10px;
    color: rgb(75, 131, 128);
}
.map-icon {
    width: 15px;
    margin-right: 5px;
}
.arrow-icon {
    width: 30px;
    margin-bottom: 10px;
}
.carousel-wrapper {
    margin-bottom: 50px;
    padding-top: 50px;
    position: relative;
}
.carousel-single-image {
    width: 30%;
    margin: auto;
    position: relative;
}
.line {
    border: 0.5px solid rgb(124, 211, 208);
    border-radius: 50px;
}