.bg-overlay-volunteer{
    background: linear-gradient(0deg, rgba(0, 121, 145, 0.904), rgba(120, 255, 215, 0.897)), url('../../public/images/mural-wallpaper.jpeg');
    background-repeat: repeat;
    padding-bottom: 160px;
}
.project-container-volunteer {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.volunteer-form {
    display: flex;
    flex-direction: column;
}
.inputfield-container {
    background-color: #00799186;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 0px;
    padding: 60px;
    padding-top: 0px;
    border-radius: 20px;
}
.inputfield {
    border-radius: 20px;
    border-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 15px;
}
.inputfield-message {
    border-radius: 15px;
    border-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 15px;
    height: 15vh;
}
.label-form {
    margin-top: 30px;
    font-size: 16px;
    color:rgba(255, 94, 97, 0.507);
    display: flex;
    font-weight: bold;
    text-transform: uppercase;

}
.checkbox-container {
    display: flex;
    margin-top: 5px;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.checkbox {
    padding-right: 15px;
}
.btn-form {
    border-radius: 20px;
    padding: 20px;
    margin-top: 30px;
    border-style: none;
    background-color: #78ffd6;
    color:rgba(255, 94, 97, 0.733);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
button.btn-form:hover {
    background-color:rgba(255, 94, 97, 0.733);
}
::placeholder {
    color: #007991;
    text-align: start;
  }